<%= render "menu" %>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>What is Bog App?</h1>
    <p><strong>Bog App</strong> is an app that keeps track of the PURE EVIL denizens of our bog. If you spot an evil bog dweller, or notice attributes of one of these creatures that someone hasn't yet recorded, please feel free to add a creature, or update an existing creature. If a creature has moved out of the bog, please feel free to delete it. All actions (create, update, delete) are publicly available in this app.</p>
    <br />
    <a href="/">
      <button class="btn btn-default">Home</button>
    </a>
  </div>
</div>
